.block {
    margin: 2em;
    display: flex;
    width: 600px;
    height: 350px;
    border-style: solid;
    border: 5px;
    flex-direction: column;
    /* background-color: cornflowerblue; */
    background-color: antiquewhite;
}

.basic-info {
    display: flex;
    height: 50%;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.name {
    font-size: 30px;
    font-family: "Gill Sans", sans-serif;
}

.appImg {
    width: 170px;
    border-radius: 10px;
}

.scoreFrame {
    width: 100px;
    height: 100px;
    display: flex;
    border-radius: 50%;
    border: 5px dashed white;
    color: black;
    align-items: center;
    justify-content: center;
}

.scoreFrame p {
    display: block;
    font-family: "Gill Sans", sans-serif;
}

.comments {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 10px;
}

.keywordsFrame {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5px;
    position: relative;
    padding: 3em;
    overflow-y: auto;
    text-align: center;
    color: aliceblue;
    align-content: center;
}

.keywords {
    display: block;
    width: 70%;
    border: 5px dashed white;
    padding: 10px;
    color: black;
}

.keyword {
    margin: 4px;
}